---

---

<div class="col"></div>
<img class="stof" src="/public/img/img_svg/stofrolle.svg" alt="Tøm stofrolle" />
<img class="rolle" src="/public/img/img_svg/logo.svg" alt="Tøm stofrolle" />

<style>
  .col {
    height: 10vh;
  }
  .stof {
    width: 100%;
  }
  .rolle {
    width: 100%;
  }

  @media (min-width: 800px) {
    .col {
      height: 50vh;
    }
  }
</style>
