---

---

<div class="col">
  <div class="woman_container">
    <div class="woman_sprite">
      <div class="stof_col">
        <h1>I tråd med Genbrug</h1>
        <p>
          I vores rejse mod en mere bæredygtig fremtid hos I Tråd Med Verden,
          tror vi på kraften af samarbejde og genanvendelse. Vores samarbejde
          med KAB er ikke kun et partnerskab; det er et symbol på vores
          engagement i at skabe meningsfulde forandringer. Ved at genanvende
          tekstiler fra virksomheder i København og omegn viser vi ikke blot
          vores dedikation til bæredygtighed, men også vores evne til at
          forvandle ressourcer til nye muligheder.
        </p>
        <p>
          Vi er mere end bare en virksomhed - vi er en bevægelse, der driver
          sociale, økonomiske og miljømæssige forandringer lokalt. Gennem vores
          arbejde ønsker vi ikke kun at reducere tekstil affald, men også at
          skabe jobmuligheder og styrke fællesskaber. Ved at bygge bro mellem
          virksomheder, lokalsamfund og vores eget håndværk, træder vi sammen
          mod en fremtid, der er bæredygtig for os alle.
        </p>
      </div>
    </div>
  </div>
</div>
<style>
  .col {
    height: 100vh;
    padding-bottom: 40%;
    position: relative;
  }
  .woman_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .woman_sprite {
    background-image: url("/public/Img/foerste_section_mobil.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 116%;
    position: relative;
  }

  .stof_col {
    height: 100%;
    padding: 42% 42px;
  }

  @media (min-width: 800px) {
    .woman_sprite {
      background-image: url("../../public/Img/foerste_section_desktop.svg");
    }

    .stof_col {
      height: 100%;
      padding: 43% 120px 0 120px;
    }

    .col {
      height: 120vh;
    }
  }
</style>
