---

---

<div class="col">
  <div class="woman_col">
    <div class="woman_sprite"></div>
  </div>

  <div class="stof_col">
    <h1>I tråd med Genbrug</h1>
    <p>
      I vores rejse mod en mere bæredygtig fremtid hos I Tråd Med Verden, tror
      vi på kraften af samarbejde og genanvendelse. Vores samarbejde med KAB er
      ikke kun et partnerskab; det er et symbol på vores engagement i at skabe
      meningsfulde forandringer. Ved at genanvende tekstiler fra virksomheder i
      København og omegn viser vi ikke blot vores dedikation til bæredygtighed,
      men også vores evne til at forvandle ressourcer til nye muligheder.
    </p>
    <p>
      Vi er mere end bare en virksomhed - vi er en bevægelse, der driver
      sociale, økonomiske og miljømæssige forandringer lokalt. Gennem vores
      arbejde ønsker vi ikke kun at reducere tekstil affald, men også at skabe
      jobmuligheder og styrke fællesskaber. Ved at bygge bro mellem
      virksomheder, lokalsamfund og vores eget håndværk, træder vi sammen mod en
      fremtid, der er bæredygtig for os alle.
    </p>
  </div>
</div>
<style>
  .col {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    padding-bottom: 100px;
  }
  .woman_col {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .woman_sprite {
    background-image: url("/public/Img/foerste_section_800.svg");
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .stof_col {
    z-index: 1;
    padding: 20px;
  }

  @media (min-width: 700px) {
    .woman_sprite {
      background-image: url("/public/Img/foerste_section.svg");
      height: 95%;
    }
    .col {
      height: 85vh;
    }
  }

  @media (max-width: 376px) {
    .col {
      height: 125vh;
    }

    .woman_sprite {
      height: 130%;
    }
  }
</style>
