---

---

<div class="baggrund" style="background-image: url('/public/Img/img_svg/stof_i_lag.svg'); background-size: cover; background-position: center;">
  <div>
    <h1>I tråd med processen</h1>
    <p>
      Vores produktion er en proces, der handler om mere end blot at skabe tekstiler. Det handler om at skabe fællesskaber og give kvinder muligheder for at blomstre. Som en lokal ressource går vi forrest i at genanvende tekstiler og sprede viden om bæredygtighed. Ved at fokusere på dansk design og bæredygtig tekstilproduktion skaber vi ikke blot
      produkter, men også en meningsfuld arbejdsplads for dem, der har mistet fodfæste på arbejdsmarkedet.
    </p>
    <p>
      Vores dedikerede hold af kvinder sikrer ikke kun kvaliteten af vores produkter, men også den positive følelse, der følger med hvert eneste stykke. Fra håndværk til håndtering af materialer i form af plantefarvning og til håndtering af alle typer tekstiler, er vores produktion en ægte laboratorium for bæredygtighed og social ansvarlighed. Hos
      os er hver tråd en del af et større fællesskab, der arbejder mod en bedre fremtid.
    </p>
  </div>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Container til at placere tekst oven på baggrundsbillede */
  .baggrund {
    background-image: url("/public/Img/img_svg/stof_i_lag.svg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh; /* Gør containeren 100% af viewportens højde */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Tekstfarve */
  }

  /* Styling for tekst */
  h1,
  p {
    padding-bottom: 20px; /* Afstand mellem overskrift og afsnit */
  }

  @media (min-width: 800px) {
    .baggrund img {
      height: auto; /* Tilpasse containerens højde efter indhold */
      min-height: 100vh; /* Minimum højde på 100vh */
    }
  }
</style>
