---

---

<img src="../../public/Img/img_slider/billede_2.png" alt="placeholder for video" />

<h1>Repair Service</h1>
<p>Vidste du, at I Tråd Med Verden tilbyder en praktisk Repair Service, direkte til din virksomhed? Vi brænder for at gøre det så nemt som muligt for dine medarbejdere at deltage i bæredygtighedsarbejdet og socialt ansvar, samtidig med at vi giver jeres tøj nyt liv og længere levetid.</p>
<p>Vores dygtige team, bestående af to erfarne syersker og en kreativ designer, som står klar til at hjælpe med alt fra reparation og tilpasning til fornyelse af tøj. Vi tilbyder en bred vifte af services, herunder oplægning, lynlåsreparation, lappning af huller og broderi.</p>
<p>Vi bringer vores let tilgængelige service direkte til din virksomhed i Københavnsområdet. Sammen kan vi finde den perfekte dag, der passer til jeres kalender, hvor I kan aflevere tøjet om morgenen. Vi lægger stor vægt på kvalitet og omhu i vores arbejde og stræber altid efter at fuldføre reparationerne inden dagen er omme.</p>

<style>
  img {
    max-width: 100%;
  }
</style>
