---
import { gsap } from "gsap";

import { ScrollTrigger } from "gsap/ScrollTrigger";
---

<div class="saks_container"><div class="saks"></div></div>
<div class="col">
  <div class="woman_col">
    <div class="woman_sprite">
      <div class="stof_col">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/UkWfnKbGLg4?si=BYpnJ10WfIA4B-1_"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>

        <h1>Repair Service</h1>
        <p>
          Vidste du, at I Tråd Med Verden tilbyder en praktisk Repair Service,
          direkte til din virksomhed? Vi brænder for at gøre det så nemt som
          muligt for dine medarbejdere at deltage i bæredygtighedsarbejdet og
          socialt ansvar, samtidig med at vi giver jeres tøj nyt liv og længere
          levetid.
        </p>
        <p>
          Vores dygtige team, bestående af to erfarne syersker og en kreativ
          designer, som står klar til at hjælpe med alt fra reparation og
          tilpasning til fornyelse af tøj. Vi tilbyder en bred vifte af
          services, herunder oplægning, lynlåsreparation, lappning af huller og
          broderi.
        </p>
        <p>
          Vi bringer vores let tilgængelige service direkte til din virksomhed i
          Københavnsområdet. Sammen kan vi finde den perfekte dag, der passer
          til jeres kalender, hvor I kan aflevere tøjet om morgenen. Vi lægger
          stor vægt på kvalitet og omhu i vores arbejde og stræber altid efter
          at fuldføre reparationerne inden dagen er omme.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="saks_container bund"><div class="saks"></div></div>

<style>
  .saks_container {
    width: 200px;
    height: 100px;
  }

  .saks {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    background-image: url("../../public/Img/img_svg/saks.svg");
  }

  .bund {
    position: absolute;
    bottom: 50%;
  }

  iframe {
    max-width: 100%;
  }

  .col {
    display: flex;
    align-items: flex-end;

    height: 150vh;
    padding-bottom: 100px;
    position: relative;
  }
  .woman_col {
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .woman_sprite {
    background-image: url("/public/Img/sidste_stof_mobil.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .stof_col {
    z-index: 1;
    height: 120%;
    padding: 20px;
  }

  @media (min-width: 800px) {
    .woman_sprite {
      background-image: url("/public/Img/sidste_stof.svg");
    }

    .col {
      height: 120vh;
    }
  }
</style>
