---
import Footer from "../componets/Footer.astro";
import Slider from "../componets/Slider.astro";
import Broderi from "../componets/Broderi.astro";
import Repair from "../componets/Repair.astro";
import Processen from "../componets/Processen.astro";
import Genbrug from "../componets/Genbrug.astro";
import ScrollIndicator from "../componets/ScrollIndicator.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/public/general.css" />
    <title>I Tråd Med Verden</title>
  </head>

  <body>
    <main>
      <ScrollIndicator />
      <Genbrug />
      <Slider />
      <Processen />
      <Repair />
      <Broderi />
    </main>
    <Footer />
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    padding: 0 20px 0 35px;
  }
  @media (min-width: 800px) {
    main {
      padding: 0;
      max-width: 550px;
      margin: auto;
    }
  }
</style>
