---

---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/genreal.css" />
    <title>I Tråd Med Verden</title>
  </head>
  <body>
    <main>
      <h1>I tråd med Genbrug</h1>
      <p>
        I vores rejse mod en mere bæredygtig fremtid hos I Tråd Med Verden, tror vi på kraften af samarbejde og genanvendelse. Vores samarbejde med KAB er ikke kun et partnerskab; det er et symbol på vores engagement i at skabe meningsfulde forandringer. Ved at genanvende tekstiler fra virksomheder i København og omegn viser vi ikke blot vores
        dedikation til bæredygtighed, men også vores evne til at forvandle ressourcer til nye muligheder.
      </p>
      <p>
        Vi er mere end bare en virksomhed - vi er en bevægelse, der driver sociale, økonomiske og miljømæssige forandringer lokalt. Gennem vores arbejde ønsker vi ikke kun at reducere tekstil affald, men også at skabe jobmuligheder og styrke fællesskaber. Ved at bygge bro mellem virksomheder, lokalsamfund og vores eget håndværk, træder vi sammen
        mod en fremtid, der er bæredygtig for os alle.
      </p>
      <h1>I tråd med processen</h1>
      <p>
        Vores produktion er en proces, der handler om mere end blot at skabe tekstiler. Det handler om at skabe fællesskaber og give kvinder muligheder for at blomstre. Som en lokal ressource går vi forrest i at genanvende tekstiler og sprede viden om bæredygtighed. Ved at fokusere på dansk design og bæredygtig tekstilproduktion skaber vi ikke blot
        produkter, men også en meningsfuld arbejdsplads for dem, der har mistet fodfæste på arbejdsmarkedet.
      </p>
      <p>
        Vores dedikerede hold af kvinder sikrer ikke kun kvaliteten af vores produkter, men også den positive følelse, der følger med hvert eneste stykke. Fra håndværk til håndtering af materialer i form af plantefarvning og til håndtering af alle typer tekstiler, er vores produktion en ægte laboratorium for bæredygtighed og social ansvarlighed.
        Hos os er hver tråd en del af et større fællesskab, der arbejder mod en bedre fremtid.
      </p>
      <h1>Repair Service</h1>
      <p>Vidste du, at I Tråd Med Verden tilbyder en praktisk Repair Service, direkte til din virksomhed? Vi brænder for at gøre det så nemt som muligt for dine medarbejdere at deltage i bæredygtighedsarbejdet og socialt ansvar, samtidig med at vi giver jeres tøj nyt liv og længere levetid.</p>
      <p>Vores dygtige team, bestående af to erfarne syersker og en kreativ designer, som står klar til at hjælpe med alt fra reparation og tilpasning til fornyelse af tøj. Vi tilbyder en bred vifte af services, herunder oplægning, lynlåsreparation, lappning af huller og broderi.</p>
      <p>Vi bringer vores let tilgængelige service direkte til din virksomhed i Københavnsområdet. Sammen kan vi finde den perfekte dag, der passer til jeres kalender, hvor I kan aflevere tøjet om morgenen. Vi lægger stor vægt på kvalitet og omhu i vores arbejde og stræber altid efter at fuldføre reparationerne inden dagen er omme.</p>
    </main>
  </body>
</html>

<style></style>
